/* Global Styles Goes Here... */

@import url("https://unpkg.com/bulma@0.8.0/css/bulma.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
@import url("./hover.min.css");
@import url("./helpers.css");

@font-face {
  font-family: "Nexa Bold";
  src: url("../fonts/Nexa_Bold.otf");
}
body {
  font-family: "Nexa Bold";
  height: 100%;
  color: white !important;
}
.text-white{
    color: white !important;
}
